@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	* {
		margin: 0;
	}
	html,
	body {
		height: 100%;
		@apply font-space-sans;
	}
	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}
	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}
	#root,
	#__next {
		isolation: isolate;
	}

	#__next {
		/* helps crop large text */
		@apply h-full overflow-x-hidden;
	}

	html {
		@apply text-white;
		/* background-color: hsla(248, 97%, 14%, 1); */
	}

	.gradbackground {
		background-image: radial-gradient(
				at 75% 0%,
				hsla(236, 63%, 4%, 1) 0px,
				transparent 50%
			),
			radial-gradient(at 2% 1%, hsla(240, 97%, 13%, 1) 0px, transparent 50%),
			radial-gradient(at 15% 92%, hsla(236, 100%, 16%, 1) 0px, transparent 50%),
			radial-gradient(at 80% 100%, hsla(248, 97%, 14%, 1) 0px, transparent 50%),
			radial-gradient(at 92% 11%, hsla(236, 100%, 8%, 1) 0px, transparent 50%);
	}

	h1 {
		@apply text-6xl font-bold;
	}

	h2 {
		@apply text-4xl mt-5;
	}

	h3 {
		@apply text-xl mt-5;
	}

	h4 {
		@apply font-bold mt-5;
	}

	main p {
		@apply mt-5;
	}

	main a,
	footer a {
		@apply border-b border-pm-green hover:border-transparent transition-all duration-300 ease-in-out;
	}
}
