@tailwind base;
@tailwind components;
@tailwind utilities;

/* space-grotesk-300 - latin */
@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 300;
	src: local(''),
		url('/fonts/space-grotesk-v13-latin-300.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('/fonts/space-grotesk-v13-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-grotesk-regular - latin */
@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('/fonts/space-grotesk-v13-latin-regular.woff2') format('woff2');
}
/* space-grotesk-500 - latin */
@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 500;
	src: local(''),
		url('/fonts/space-grotesk-v13-latin-500.woff2') format('woff2');
}
/* space-grotesk-600 - latin */
@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 600;
	src: local(''),
		url('/fonts/space-grotesk-v13-latin-600.woff2') format('woff2');
}
/* space-grotesk-700 - latin */
@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('/fonts/space-grotesk-v13-latin-700.woff2') format('woff2');
}

@layer base {
	/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	* {
		margin: 0;
	}
	html,
	body {
		height: 100%;
		@apply font-space-sans;
		white-space: pre-line;
		vertical-align: bottom;
	}
	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
		min-height: 100vh;
		/* mobile viewport bug fix */
		min-height: -webkit-fill-available;
	}
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}
	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	/* #root,
	#__next {
		isolation: isolate;
	} */

	/* helps crop large text */
	#__next {
		@apply h-full overflow-x-hidden;
	}

	::selection {
		@apply text-pm-purple bg-pm-green;
	}

	html {
		@apply text-white bg-pm-black;
	}

	h1 {
		@apply text-6xl font-bold;
	}

	h2 {
		@apply text-4xl mt-5;
	}

	h3 {
		@apply text-xl mt-5;
	}

	h4 {
		@apply font-bold mt-5;
	}

	main p {
		@apply mt-5;
	}

	main a,
	footer a {
		@apply border-b border-pm-green hover:border-transparent transition-all duration-300 ease-in-out;
	}
}

.radial {
	background: radial-gradient(white, purple, black);
	background-size: 150% 150%;
}

.linear {
	background: linear-gradient(239deg, #053b19, #0a0543, #00022c);
	background-size: 250%;
}

/* @keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
